<a
  [matTooltip]="isCollapsed() ? item().label : null"
  matTooltipClass="right"
  matTooltipPosition="right"
  [routerLink]="item().route"
  routerLinkActive="active"
  class="item | flex w-full min-h-10 flex-row position no-underline py-2 px-4 items-center text-gray-700 transition-all ease-in duration-200 rounded-sm"
  matRipple
>
  <svg-icon svgClass="transition-all duration-200 ease-in" [src]="item().icon"></svg-icon>
  @if (!isCollapsed()) {
    <span class="item-label">{{ item().label }}</span>
  }
</a>
