@reference "tailwindcss";

.item {
  & svg-icon {
    @apply text-gray-400;
  }
  &:hover {
    @apply bg-gray-300/20 text-gray-700;

    & svg-icon {
      @apply text-gray-700;
    }
  }

  &.active {
    @apply bg-green-50;
  }
}
