<div class="wrapper | py-3 rounded-xl border border-gray-100">
  <div class="gap-4 pb-2 px-6 font-medium text-gray-500 text-[18px]">
    <span>Contextual Risk</span>
  </div>

  <div class="flex mt-4 items-center justify-between gap-4 px-6">
    <div class="flex flex-col gap-1">
      <div class="flex gap-2 items-center">
        <div class="size-[7px] bg-red-800 rounded-full"></div>
        <span class="legend-count">2</span>
        <span class="legend-label">Critical</span>
      </div>
      <div class="flex gap-2 items-center">
        <div class="size-[7px] bg-red-700 rounded-full"></div>
        <span class="legend-count">0</span>
        <span class="legend-label">High</span>
      </div>
      <div class="flex gap-2 items-center">
        <div class="size-[7px] bg-yellow-600 rounded-full"></div>
        <span class="legend-count">0</span>
        <span class="legend-label">Medium</span>
      </div>
      <div class="flex gap-2 items-center">
        <div class="size-[7px] bg-green-600 rounded-full"></div>
        <span class="legend-count">0</span>
        <span class="legend-label">Low</span>
      </div>
    </div>
    <div class="size-36 border-[6px] border-red-800 rounded-full flex items-center justify-center">
      <span class="text-gray-7 font-semibold text-4xl text-[24px]">2</span>
    </div>
  </div>
</div>
