<div class="wrapper | py-3 rounded-xl border border-gray-100">
  <div class="gap-4 pb-2 px-6 font-medium text-gray-500 text-[18px]">
    <span>Contextual Risk</span>
  </div>

  <div class="flex mt-4 items-center justify-between gap-4 px-6">
    <div class="flex flex-col gap-1">
      @for (item of riskItems; track item.status) {
        <div class="flex gap-2 items-center">
          <div class="size-[7px] rounded-full" [class]="item.bgColor"></div>
          <span class="legend-count">{{ item.count }}</span>
          <span class="legend-label">{{ item.label }}</span>
        </div>
      }
    </div>
    <div class="size-36 border-[6px] rounded-full flex items-center justify-center" [class]="'border-' + criticalBorderColor.replace('bg-', '')">
      <span class="text-gray-7 font-semibold text-4xl text-[24px]">{{ totalCriticalCount }}</span>
    </div>
  </div>
</div>
