<div class="relative h-full">
  <mat-sidenav-container class="sidenav-container | h-full bg-gray-25!">
    <mat-sidenav
      #sidenav
      [disableClose]="isTabletOrDesktop()"
      [fixedInViewport]="isTabletOrDesktop()"
      [mode]="isTabletOrDesktop() ? 'side' : 'over'"
      [opened]="isTabletOrDesktop()"
      [class.collapsed]="!isMobile() && isSideNavCollapsed()"
      class="sidenav"
    >
      <ng-container *ngTemplateOutlet="sidenavRef()" />
    </mat-sidenav>
    <mat-sidenav-content
      [class.coll]="isTabletOrDesktop() && isSideNavCollapsed()"
      [class.expanded]="isTabletOrDesktop() && !isSideNavCollapsed()"
      class="sidenav-content | overflow-x-hidden"
    >
      <main class="content | h-full">
        <router-outlet />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
