<div class="bg-gray-25 py-3 min-h-[200px] my-4 rounded-tr-lg px-4">
  <div class="min-h-[250px] flex items-center justify-center relative w-full">
    <div class="pim | w-full max-w-full overflow-hidden px-8">
      <svg-icon #flowSvg src="/assets/icons/flow.svg" class="w-full h-auto max-w-none"></svg-icon>
    </div>
    <!-- Hover modals -->
    <div
      class="absolute bg-white rounded-xl shadow-xl border p-3 w-56 z-50 pointer-events-none opacity-0 transition-opacity duration-200"
      [class.opacity-100]="hoveredElement !== null"
      [style.left.px]="modalPosition.x"
      [style.top.px]="modalPosition.y"
    >
      <div class="flex items-start gap-3 mb-3">
        <div class="flex-1 min-w-0 text-[13px]">
          <h3 class="font-semibold text-red-800 bg-red-50 text-sm mb-0.5">Lorem Ipsum Dolor Sit</h3>
          <div class="flex flex-wrap gap-1">
            <p class="text-red-800 font-semibold bg-red-50 rounded-md px-2 py-1">192.168.1.3</p>
            <p class="text-red-800 font-semibold bg-red-50 rounded-md px-2 py-1">192.168.1.3</p>
            <p class="text-red-800 font-semibold bg-red-50 rounded-md px-2 py-1">192.168.1.3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-t-gray-100 pt-3 flex gap-4 items-center justify-start">
    <div class="flex gap-2 items-center">
      <div class="bg-red-700 size-[25px] rounded-full flex items-center justify-center">
        <svg-icon src="/assets/icons/shield.svg"></svg-icon>
      </div>
      <p class="font-bold text-[15px] text-red-700 capitalize">Lorem</p>
    </div>
    <div class="flex gap-2 items-center">
      <div class="bg-orange size-[25px] rounded-full flex items-center justify-center">
        <svg-icon src="/assets/icons/shield.svg"></svg-icon>
      </div>
      <p class="font-bold text-[15px] text-orange capitalize">Lorem</p>
    </div>
    <div class="flex gap-2 items-center">
      <div class="bg-green-700 size-[25px] rounded-full flex items-center justify-center">
        <svg-icon src="/assets/icons/shield-pass.svg"></svg-icon>
      </div>
      <p class="font-bold text-[15px] text-green-700 capitalize">Lorem</p>
    </div>
  </div>
</div>
