<div class="bg-gray-25 py-3 min-h-[200px] my-4 rounded-tr-lg px-4">
  <div class="min-h-[250px]"></div>
  <div class="border-t border-t-gray-100 pt-3 flex gap-4 items-center justify-start">
    <div class="flex gap-2 items-center">
      <div class="bg-red-700 size-[25px] rounded-full flex items-center justify-center">
        <svg-icon src="/assets/icons/shield.svg"></svg-icon>
      </div>
      <p class="font-bold text-[15px] text-red-700 capitalize">Lorem</p>
    </div>
    <div class="flex gap-2 items-center">
      <div class="bg-orange size-[25px] rounded-full flex items-center justify-center">
        <svg-icon src="/assets/icons/shield.svg"></svg-icon>
      </div>
      <p class="font-bold text-[15px] text-orange capitalize">Lorem</p>
    </div>
    <div class="flex gap-2 items-center">
      <div class="bg-green-700 size-[25px] rounded-full flex items-center justify-center">
        <svg-icon src="/assets/icons/shield-pass.svg"></svg-icon>
      </div>
      <p class="font-bold text-[15px] text-green-700 capitalize">Lorem</p>
    </div>
  </div>
</div>
