.hover-group {
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }

  circle,
  path {
    transition:
      fill 0.2s ease-in-out,
      stroke 0.2s ease-in-out;
  }
}

.pim > svg {
  width: 100%;
  height: auto;
  max-width: 100%;

  .hover-group:hover circle {
    filter: brightness(1.1);
  }

  .hover-group:hover path {
    filter: brightness(1.1);
  }
}

.wrap {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.pim > svg-icon {
  display: block;
  width: 100%;
  height: auto;

  svg {
    width: 100% !important;
    height: auto !important;
    max-width: none !important;
  }
}

// [class.opacity-100]="hoveredElement !== null"
