/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  /* COLORS */
  --gray-300: #a3a9b6;
  --gray-400: #858d9d;
  --gray-500: #667085;
  --gray-700: #525d73;

  --green-700: #02983e;
  --green-600: #08b94e;
  --red-800: #c6190d;
  --red-700: #e5372b;
  --blue-600: #1873de;
  --yellow-600: #eba622;

  /* SIZE VALUES */
  --sidenav-width: 250px;
  --sidenav-collapsed-width: 54px;

  --font-sans: 'Public Sans', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}
